<link href="https://fonts.cdnfonts.com/css/caros" rel="stylesheet">
                

<div class="background">
    <br>
    <!-- PRIMA RIGA -->
    <div class="riga">
        <div class="binario">
            <h2><b>1</b></h2>
        </div>
        <div class="destinazione">
            <p><b>destinazione </b> <i>destination</i></p>
            <div class="pdest">
                <h4>{{path}}</h4>
            </div>
        </div>
    </div>
    <br>
    <!-- SECONDA RIGA -->
    <div class="riga">
        <div class="treno">
            <p><b>treno </b> <i>train</i></p>
            <div class="ptreno">
                <h4>SPOTIRFI</h4>
                <h5>REG 21886</h5>
            </div>
        </div>
        <div class="partenza">
            <p><b>partenza </b> <i>departure</i></p>
            <div class="ppart">
                <h4>CANCELLATO</h4>
            </div>
        </div>
    </div>
    <br>
    <!-- TERZA RIGA -->
    <div class="riga">
        <div class="info">
            <p><b>informazioni </b> <i>informations</i></p>
            <div class="pinfo">
                <h4>E' SEVERAMENTE VIETATO ATTRAVERSARE LA LINEA GIALLA</h4>
            </div>
        </div>
    </div>
</div>