@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Tilt+Neon&family=Ubuntu:ital,wght@1,500&family=Young+Serif&display=swap');

#shareButton {
    color: transparent;
    background-color: transparent;
    border: transparent;
    float: right;
}

nav {
    font-family: 'Merienda', cursive;
}