@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Tilt+Neon&family=Ubuntu:ital,wght@1,500&family=Young+Serif&display=swap');


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  cursor: pointer;
  color: #9fa2a4;
}

#shareButton {
    color: transparent;
    background-color: transparent;
    border: transparent;
    float: right;
}

nav {
    font-family: 'Merienda', cursive;
}