<article>
  <!-- Benvenuto -->
  <section>
    <div class="img">
      <img
        src="assets/lineesiciliane.png"
        (click)="
          openLink(
            'https://normativaesercizio.rfi.it/NormativaEsercizio/detail.xhtml?doctype=FCL&compartimento=PA'
          )
        "
      />
    </div>
    <div class="txt">
      <h2>Benvenuto su SpotiRFI! 🚄🎵</h2>
      <p>
        SpotiRFI è un viaggio unico attraverso la musica e le linee ferroviarie
        della Sicilia. Ogni stazione ferroviaria sulla mappa è associata a una
        canzone che porta il suo nome<span
          class="btn"
          data-bs-container="body"
          data-toggle="popover"
          data-bs-placement="bottom"
          data-bs-content="Non sono attualmente previsti i posti di movimento, solo STAZIONI e FERMATE. Non sono considerate le linee dismesse. Sono considerate le linee non attive IN FASE DI RIPRISTINO"
        >
          * </span
        >, creando un'esperienza musicale che riflette il viaggio attraverso la
        nostra bellissima regione.
      </p>
    </div>
  </section>

  <!-- Come funziona -->
  <section>
    <div class="txt">
      <h2>Come funziona? 🧐</h2>
      <p>
        Scegli una linea ferroviaria sulla mappa e inizia il tuo viaggio
        musicale. Ad ogni fermata, ti verrà presentata una canzone che porta il
        nome della stazione. Puoi ascoltare la canzone mentre leggi informazioni
        sulla stazione e sulla sua storia.
      </p>
    </div>
    <div class="img">
      <img
        src="https://www.palermomania.it/public/news/image/images/metro.jpg"
        (click)="openLink('https://www.palermomania.it/')"
      />
    </div>
  </section>

  <!-- Perchè -->
  <section>
    <div class="img">
      <img
        src="https://www.stagniweb.it/altro/orizzf/636gioi0.jpg"
        (click)="
          openLink(
            'https://www.stagniweb.it/foto6.asp?File=orizzf&Inizio=68&Righe=10&InizioI=1&RigheI=150&Col=5&Titolo=0'
          )
        "
      />
    </div>
    <div class="txt">
      <h2>Perché SpotiRFI? 🤔</h2>
      <p>
        La musica e i viaggi sono due esperienze che possono portarci in luoghi
        che non abbiamo mai visitato. SpotiRFI combina queste due esperienze in
        un unico viaggio, permettendoti di esplorare la Sicilia attraverso le
        sue linee ferroviarie e la sua musica.
      </p>
    </div>
  </section>
</article>
