article {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 2em;
}

section {
    display: flex;
    flex-flow: row nowrap;
    margin: 4em auto 6em auto;
}

img {
    width: 40em;
}

.txt {
    width: 40em;
}