<article>
  <div class="img">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/Ferrovie_sicilia_2007.JPG/640px-Ferrovie_sicilia_2007.JPG"
    />
  </div>
  <div class="txt">
    <h2>Benvenuto su SpotiRFI! 🚄🎵</h2>
    <p>
      SpotiRFI è un viaggio unico attraverso la musica e le linee ferroviarie
      della Sicilia. Ogni stazione ferroviaria sulla mappa è associata a una
      canzone che porta il suo nome, creando un'esperienza musicale che riflette
      il viaggio attraverso la nostra bellissima regione.
    </p>

    <h2>Come funziona? 🧐</h2>
    <p>
      Scegli una linea ferroviaria sulla mappa e inizia il tuo viaggio musicale.
      Ad ogni fermata, ti verrà presentata una canzone che porta il nome della
      stazione. Puoi ascoltare la canzone mentre leggi informazioni sulla
      stazione e sulla sua storia.
    </p>

    <h2>Perché SpotiRFI? 🤔</h2>
    <p>
      La musica e i viaggi sono due esperienze che possono portarci in luoghi
      che non abbiamo mai visitato. SpotiRFI combina queste due esperienze in un
      unico viaggio, permettendoti di esplorare la Sicilia attraverso le sue
      linee ferroviarie e la sua musica.
    </p>
  </div>
</article>
