
#popover {
    background-color: transparent;
    border: none;
    color: inherit;
    padding: 0 0 0 5px;
  }

  .about-section {
    margin: auto;
  }

  #picture {
    background-image: url("https://external-preview.redd.it/in-sicilia-su-strade-colabrodo-e-treni-lumaca-aspettando-il-v0-YGYToK560tbwieHeMTYEEwdI9G0MiCoAnOe-kdmPdrU.jpg?auto=webp&s=0d0a9a6e7891b6fe511766e49a45ffb84cf2124f");
    width:100%;
    height:550px;
    position:relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    z-index:0;
}

.img-wrap .effect{
    position: relative;
    margin-bottom: 0;
    display: block;
}
.img-wrap .effect:after{
    z-index:-1;
    content:"";
    position: absolute;
    top:10px;
    right:10px;
    bottom:10px;
    left:10px;
    background: #2b3035;
    transition: .3s all ease-in-out;
}
.img-wrap:hover .effect:after{
    right:-10px;
    bottom:-10px;
    position: absolute;
}
.btn-about{
    color:#000!important;
    margin-right:5px;
    margin-left:5px;
    animation:skew 3s infinite;
    animation-direction: normal;
    animation-direction: alternate;
    padding:5px 17px;
}

.row {
    color: #000;
    margin-bottom: 4em;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }