.container {
    align-items: center;
    width: 55%;
    margin-bottom: 4em;
    margin-top: 6em;
}

.incontainer {
    align-items: center;
}

.map{
    display: block;
    margin: auto;
    width: 75%;
    height: auto;
}

@media screen and (min-width: 1025px) and (max-width: 1300px) {
    .container {
        align-items: center;
        width: 72%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        align-items: center;
        width: 77%;
    }
}

@media screen and (min-width: 281px) and (max-width: 767px) {
    .container {
        align-items: center;
        width: 90%;
    }
}

@media screen and (max-width: 280px) {
    .container {
        align-items: center;
        width: 97%;
    }    
}