<div *ngFor="let tratta of tratte, let i=index" class="container">
  <div *ngIf="tratta.id == id" class="incontainer">
    <iframe
      style="border-radius: 12px"
      [src]="srcs[i]"
      width="100%"
      height="500"
      frameBorder="0"
      allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      loading="lazy"
    ></iframe>
    <br><br><br>
    <ul>
      <li *ngFor="let station of stations[i]" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="stationToModal(station)">{{station}}</li>
    </ul>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Stazione di {{actualStation}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>