<div id="picture"></div>

<p-tabView (onChange)="onChange($event)">
  <div style="position: fixed; bottom: 20px; right: 20px; background-color: var(--RFI); width: fit-content; height: fit-content; border-radius: 50%; z-index: 1000;">
    <p-button 
      type="button" 
      (onClick)="sidebarVisible = true" 
      icon="pi pi-info-circle" />
  </div>
  @for (tab of tabs; track tab) {
    <p-tabPanel header="{{tab}}">
     
      <div class="tratte-panel">
        @defer {
          @for (tratta of tratteService.tratte(); track tratta.trattaId) {
            <tratta-card [tratta]="tratta" [activeTab]="activeTab()"></tratta-card>
          }
        }
        @loading(minimum 1s) {
          <loading-tratta></loading-tratta>
        }
      </div>
    </p-tabPanel>
  }
  <h4 (click)="disclaimerVisible = true" class="disclaimer">Disclaimer</h4>
</p-tabView>

<p-dialog header="Disclaimer" [modal]="true" [(visible)]="disclaimerVisible" [style]="{ width: '25rem' }">
  <p>Le canzoni presentate su SpotiRFI sono state scelte esclusivamente sulla base dell'adeguatezza del titolo con il nome delle stazioni ferroviarie. La scelta di una canzone non implica un'approvazione o un'adesione al testo, al significato o a qualsiasi altro aspetto della canzone stessa. Le canzoni sono fornite solo a scopo di intrattenimento e non intendono rappresentare o riflettere le opinioni di SpotiRFI.
  </p>
</p-dialog>

<p-sidebar [(visible)]="sidebarVisible" position="bottom">
  <ng-template pTemplate="header">
    <span class="font-semibold text-xl">Legenda</span>
  </ng-template>
  <table>
    <tr>
      <td>
        <span class="pi pi-circle-fill" style="color: var(--RFI)"></span>
      </td>
      <td>
        <a href="https://www.rfi.it/it.html" target="_blank"
          >Rete Ferroviaria Italiana</a
        >
      </td>
    </tr>
    <tr>
      <td>
        <span class="pi pi-circle-fill" style="color: var(--FCE);"></span>
      </td>
      <td>
        <a href="https://www.circumetnea.it/" target="_blank"
          >Ferrovia Circumetnea</a
        >
      </td>
    </tr>
    <tr>
      <td>
        <span class="pi pi-circle-fill" style="color: var(--AMAT);"></span>
      </td>
      <td>
        <a href="https://www.amat.pa.it/" target="_blank"
          >Azienda Municipalizzata Auto Trasporti <i>(Palermo)</i></a
        >
      </td>
    </tr>
    <tr>
      <td>
        <span class="pi pi-circle-fill" style="color: var(--atm);"></span>
      </td>
      <td>
        <a href="https://www.atmmessinaspa.it/" target="_blank"
          >Azienda Trasporti Messina</a
        >
      </td>
    </tr>
  </table>
</p-sidebar>