@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Tilt+Neon&family=Ubuntu:ital,wght@1,500&family=Young+Serif&display=swap');
@import url("//fonts.googleapis.com/css?family=Abril+Fatface|Droid+Serif:400,700,400italic,700italic");

#picture {
  background-image: url("src/assets/104Agnone-min.JPG");
  width:100%;
  height: 82%;
  position:relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  z-index:0;
}

fieldset {
  width: 35%;
  font-family: 'Merienda', cursive;
  border: 0.15em black solid;
  border-radius: 1em;
  margin: 3em auto 3em 3em;
}

:host ::ng-deep .p-tabview .p-tabview-nav, :host ::ng-deep .p-tabview .p-tabview-panels {
  background-color: inherit;
  color: inherit;
}

:host ::ng-deep .p-tabview .p-tabview-nav {
  border: none;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 0;
  font-size: larger;
}

:host ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
  border: none;
  background-color: inherit;
  text-decoration: none;
  color: inherit;
  font-family: "Merienda", cursive;
}

:host ::ng-deep .p-highlight {
  border-bottom: 0.1em #d62a42 solid;
  color: #d62a42;
}

:host ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link:hover {
  background-color: rgba(214, 42, 66, 0.04);
}

.tratte-panel {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
  fieldset {
    width: 40%
  }
}

@media screen and (width < 500px) {
  :host ::ng-deep .p-tabview .p-tabview-nav {
    justify-content: start;
  }
}

@media screen and (min-width: 281px) and (max-width: 767px) {
  fieldset {
    width: 70%;
    margin: 3em auto 3em auto;
  }
}

@media screen and (max-width: 280px) {
  fieldset {
    width: 80%;
    margin: 3em auto 3em auto;
  }
}

fieldset legend {
  margin: 0.5em;
  font-weight: 500;
}

td {
  font-weight: 600;
}

td a {
  color: currentColor;
  text-decoration: none;
}

#article-disclaimer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto auto 4rem auto;
    font-family: 'Merienda', cursive;
    width: 500px;
}

#disclaimer {
    margin: 4em 1em 3.5em 1em;
    text-align: justify;
}

p {
    font-size: 19px;
    line-height: 1.6;
}

.material-symbols-outlined.RFI{
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: #006564;
  margin: 0.5em;
  float: left;
}

.material-symbols-outlined.FCE{
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: #065DA8;
  margin: 0.5em;
  float: left;
}

.material-symbols-outlined.AMAT{
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: #00A0C7;
  margin: 0.5em;
  float: left;
}

.material-symbols-outlined.atm{
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: #D60B25;
  margin: 0.5em;
  float: left;
}