<article>
  <section>
    <div class="alert alert-warning" role="alert">
      <p>
        <strong>Disclaimer :</strong> Le canzoni presentate su SpotiRFI sono
        state scelte esclusivamente sulla base dell'adeguatezza del titolo con
        il nome delle stazioni ferroviarie. La scelta di una canzone non implica
        un'approvazione o un'adesione al testo, al significato o a qualsiasi
        altro aspetto della canzone stessa. Le canzoni sono fornite solo a scopo
        di intrattenimento e non intendono rappresentare o riflettere le
        opinioni di SpotiRFI.
      </p>
    </div>
  </section>
</article>
