@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Tilt+Neon&family=Ubuntu:ital,wght@1,500&family=Young+Serif&display=swap');

article {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 2em;
    font-family: 'Merienda', cursive;
}

section {
    display: flex;
    flex-flow: row nowrap;
    margin: 4em 1em 6em 1em;
}

#disclaimer {
    margin: 4em 1em 6em 1em;
    text-align: justify;
}

img {
    width: 20em;
    cursor: pointer;
}

.txt {
    width: 20em;
    color: white;
    margin-left: 1em;
    margin-right: 1em;
    border-bottom: 0.1em white solid;
    /* text-align: justify; */
}

h2 {
    font-size: 2em;
    margin-bottom: 0.4em;
}

p {
    font-size: 1.2em;
}

.btn {
    background-color: transparent;
    border: none;
    color: inherit;
    /* Aggiungi altri stili necessari per adattarsi al tuo design */
  }