<article>
  <div class="alert alert-warning" role="alert" id="disclaimer">
    <p>
      <strong>Disclaimer :</strong> Le canzoni presentate su SpotiRFI sono state
      scelte esclusivamente sulla base dell'adeguatezza del titolo con il nome
      delle stazioni ferroviarie. La scelta di una canzone non implica
      un'approvazione o un'adesione al testo, al significato o a qualsiasi altro
      aspetto della canzone stessa. Le canzoni sono fornite solo a scopo di
      intrattenimento e non intendono rappresentare o riflettere le opinioni di
      SpotiRFI.
    </p>
  </div>
</article>

<article *ngFor="let tratta of listaTratte">
  <div class="blog-card spring-fever">
    <div class="title-content">
      <h3><a href="#">{{tratta.partenza}} - {{tratta.destinazione}}</a></h3>
      <div class="intro">Inspiration</div>
    </div>
    <div class="card-info">
      Vivi il viaggio da {{tratta.partenza}} a {{tratta.destinazione}} con questa playlist
      <a href="#"
        >Read Article<span class="licon icon-arr icon-black"></span
      ></a>
    </div>
    <div class="gradient-overlay"></div>
    <div class="color-overlay"></div>
  </div>
  <!-- /.blog-card -->
</article>
