<div id="picture"></div>

<div id="content">
  <h2>Chi Sono</h2>
  <p class="mb-4">
    Sono un appassionato di viaggi e di musica, con un
    <a
      href="https://www.instagram.com/explore/tags/ferrosessuale/top/"
      target="_blank"
      id="ferrosex"
      >amore particolare per le ferrovie</a
    >
    . La passione per l'esplorazione e la scoperta mi ha portato a creare
    SpotiRFI, un progetto unico che unisce la bellezza del viaggio in treno con
    il potere evocativo della musica. Ogni stazione ferroviaria sulla mappa
    diventa una tappa di un viaggio musicale attraverso la Sicilia, offrendo
    un'esperienza unica che spero possa arricchire i vostri viaggi tanto quanto
    ha arricchito i miei.
  </p>
  <br />
  <p>
    Se vuoi passa dal <span (click)="openEasterEgg()">mio </span>
    <a href="https://github.com/gianmarco2307" mat-button target="_blank" id="GitHub"
      ><img src="assets/github-mark.png" id="githubLogo"/>GitHub</a>
  </p>
</div>
