@if (loading) {
  <div style="width: fit-content; margin: 7em auto">
    <p-progressSpinner ariaLabel="loading" />
  </div>
}

@if (tratta() && sanitizedSrc) {
  <div class="tratta-container">
    @if (tratta().trattaId == id()) {
      <div class="tratta-incontainer">
        <div class="iframe">
          <iframe
            style="border-radius: 12px; position: sticky; top: 4em"
            [src]="sanitizedSrc"
            width="98%"
            height="500"
            frameBorder="0"
            allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
            loading="lazy"
          ></iframe>
        </div>
        <div class="line">
          <ul>
            @for (station of tratta().stations; track station) {
              <li
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                (click)="
                  stationToModal(station, tratta().gestore, tratta().note)
                "
              >
                {{ station.station }}
              </li>
            }
          </ul>
        </div>
      </div>
    }
  </div>
}

<!-- Modal -->

<p-dialog [header]="modalHeader()" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
  @if (tratta().gestore === "RFI") {
    <div class="modal-content">
      <p-button
        label="Arrivi"
        icon="pi pi-external-link"
        (onClick)="openArrivals()"
      />
      <p-button
        label="Partenze"
        icon="pi pi-external-link"
        (onClick)="openDepartures()"
      />
    </div>
  }
  <ng-template pTemplate="footer">
    <p-button
        label="Apri su Maps"
        icon="pi pi-map-marker"
        (onClick)="openMaps()"
      />
  </ng-template>
</p-dialog>