<h2>Chi Siamo</h2>
<p>
  Siamo un gruppo di appassionati di viaggi e di musica, con un amore
  particolare per le ferrovie. La nostra passione per l'esplorazione e la
  scoperta ci ha portato a creare SpotiRFI, un progetto unico che unisce la
  bellezza del viaggio in treno con il potere evocativo della musica. Ogni
  stazione ferroviaria sulla mappa diventa una tappa di un viaggio musicale
  attraverso la Sicilia, offrendo un'esperienza unica che speriamo possa
  arricchire i vostri viaggi tanto quanto ha arricchito i nostri.
</p>
