#picture {
    background-image: url("src/assets/PMAgnone.JPG");
    width:100%;
    height:550px;
    position:relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    z-index:0;
}

h2 {
    margin-top: 2em;
}

#content { max-width: 58em; text-align: justify; margin: 0 auto; padding: 2em; }

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: grey;
}